<%include _header%>
<br>
<style>
    .padre{
        text-align: center;
        margin-left: 39%;
    }
    .panel-default{
        width: 300px;
        margin: 6px 19px;
        display: inline-block;
        background:  #f0f8ff00;

    }
    .panel-body {
    text-align: center;
    padding: 0px;
}
.panel-default>.panel-heading{
    background: #f0f8ff00;
    padding: 0px;
}
h4{
    font-size: 13px;
}
.name{
    padding: 27px 20px;
    background: #ffffffb8;
    margin: 0px;
    margin-bottom: 30px;
    margin-top: 100px;
}
</style>
<h1 class="name">Los mejores accesorios para tu coleccion</h1>
<div class="padre">
    
<% pro.forEach((e) => {%>
    <div class="panel panel-default">
        <div class="panel-heading">
            <%if (e.category=='Accesorios') {%>   
            <% var source = "/uploads/myImage-" %>
            <% source += e.ID %>
            <% source += ".png" %>    
            <img src='<%= source %>' style="width 120px; height: 171px;">
            <div class="panel-body">            
                    <h3> <%= e.name%></h3>
                    <h4> <strong>Precio:</strong>  $<%= e.money %> </h4>
                    <h4><strong>Categoria:</strong>  <%= e.category %></h4>
                    <h4> <strong>Descripción:</strong> <%= e.description %></h4>
                </div>
            <% } else {%> 
                 <style>
                     .panel-default{
                         display: table-footer-group;
                     }
                    </style>
            <% } %>
        </div>
    </div>

    <% }) %>
</div>
    <%include _footer%>