<%include _header%>
<br>
<style>
    .padre{
        text-align: center;
    }
    .panel-default{
        width: 300px;
        margin: 6px 19px;
        display: inline-block;
        background:  #f0f8ff00;

    }
    .panel-body {
    text-align: center;
    padding: 0px;
}
.panel-default>.panel-heading{
    background: #f0f8ff00;
    padding: 0px;
}
h4{
    font-size: 13px;
}
</style>
<div class="padre">
    <h1>Productos para el Hogar</h1>
<% pro.forEach((e) => {%>
    <div class="panel panel-default">
        <div class="panel-heading">
            <%if (e.category=='Hogar') {%>   
            <% var source = "/uploads/myImage-" %>
            <% source += e.ID %>
            <% source += ".png" %>    
            <img src='<%= source %>' style="width 120px; height: 171px;">
            <div class="panel-body">            
                    <h3> <%= e.name%></h3>
                    <h4>Precio: $<%= e.money %> </h4>
                    <h4>Categoria: <%= e.category %></h4>
                    <h4> <%= e.description %></h4>
                </div>
            <% } else {%>
                <style> .padre{
                    display: inline-block;
                }</style>
               
            <% } %>
        </div>
    </div>

    <% }) %>
</div>
    <%include _footer%>